*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.bvn1{
 position: relative;
}
.dashB{
 z-index: -1;
 /* opacity: 0.5; */
}
.bvnInfo{
 height: 562px;
width: 880px;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 20px 0px;
position: absolute;
top: 190px;
left: 300px;
}
.infoImg{
text-align: center;
margin-top: 129px;
}
.bvnInfo h4{
 font-family: Gotham Pro;
font-size: 36px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color: #022B69;
/* padding: 76px 0 36px 78px; */
}
.bvnInfo p{
 text-align: center;
 padding-top: 19px;
 font-family: Gotham Pro;
 font-size: 24px;
 font-weight: 400;
 line-height: 23px;
 color: #B2BED0;
}

.skip{
 display: flex;
 margin-top: 72px;
 justify-content: right;
 margin-right: 93px;
}