*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.bvn{
 position: relative;
}
.dashB{
 z-index: -1;
 opacity: 0.5;
}
.bvnVerification{
 height: 562px;
width: 880px;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 20px 0px;
position: absolute;
top: 190px;
left: 400px;
}
.bvnVerification h4{
 font-family: Gotham Pro;
font-size: 36px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: #022B69;
padding: 76px 0 36px 78px;
}
.bvnForm{
 margin-left: 78px;
}
.bvnNumber{
 height: 67px;
 width: 580px;
 border-radius: 3px;
 border: 1px solid #B2BED0;
 font-family: Gotham Pro;
 font-size: 24px;
 font-weight: 400;
 line-height: 23px;
 color: #B2BED0;
 padding: 25px 0 19px 41px;
 outline: none;
}
.DOBBlock{
 margin-top: 56px;
}
.DOB{
 font-family: Gotham Pro;
 font-size: 24px;
 font-weight: 400;
 line-height: 23px;
 letter-spacing: 0em;
 text-align: left;
 color: #3F3D56;
}
.DOBInput{
 display: flex;
 gap: 20px;
 margin-top: 23px;
 font-size: 24px;
 color: #B2BED0;
}
.dd{
 height: 67px;
 width: 95px;
 padding: 22px 28px;
 border: 1px solid #B2BED0;
 border-radius: 3px;
}
.mm{
 height: 67px;
 width: 95px;
 border-radius: 3px;
 padding: 22px 28px;
 color: #B2BED0;
 border: 1px solid #B2BED0;
}
.yy{
 height: 67px;
 width: 149px;
 border-radius: 3px;
 padding: 22px 48px;
 color: #B2BED0;
 border: 1px solid #B2BED0;
}
/* .date{
 height: 50px;
 width: 120px;
 margin-top: 23px;
} */
.skip{
 display: flex;
 gap: 32px;
 align-items: center;
 margin-top: 72px;
 justify-content: right;
 margin-right: 93px;
}
 .DOBInput{
 display: flex;
}
.dd{
 height: 67px;
width: 95px;
border-radius: 3px;
border: 1px solid #B2BED0;
}
.dd::placeholder{
 color: #B2BED0;

}
.mm{
 height: 67px;
width: 95px;
border-radius: 3px;
border: 1px solid #B2BED0;
}

@media  and (max-width:800px) {
 
}
