*{
 margin: 0;
 padding: 0;
}
body{
 color: #0000FF;
}
header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-left: 3.375rem;
 margin-right: 2.5rem;
 position: relative;
}
.NavBar{
 align-items: center;
 display: flex;
}
.menu{
 display: flex;
 margin-left: -500px;
 /* align-items: center; */
}
.menu-drop{
  display: flex;
}
.ul{
  display: flex;
}
.menu-list {
  text-decoration: none;
  margin-left: 2.5rem;
}
li{
 list-style-type: none;
 margin-right: 30px;
 cursor: pointer;
}
li:hover{
 text-decoration: underline;
 color: gold;
}
.form1{
 display: flex;
 gap: 30px;
 align-items: center;
 padding-left: 600px;
}
a{
 text-decoration: none;
}
a:hover{
 text-decoration: underline;
 color: gold;
}
.hamburger {
 display: none;
}


/* MOBILE SCREEN */
@media screen and (max-width: 800px) {
 .logo{
  margin-left: -40px;
 }
 .NavBar{
  /* display: none; */
 }
 .hamburger{
  color: #0066F5;
  font-size: 35px;
  font-weight: bolder;
  display: block;
  position: absolute;
  right: 0px;
  top: 25px;
  cursor: pointer;
 }
 .menu-drop{
  display: block;
   right: -40px;
  justify-content: center;
  width: 174px;
  background-color: #fff;
  height: 88vh;
  position: absolute;
  top: 12vh;
  text-align: center;
  z-index: 1;
  color: #022B69;
  font-weight: bold;
 }
 .menu{
   display: none;
   margin-left:
 }
 .menu-drop li{
  list-style-type: none;
  margin-top: 40px;
}
.menu-list{
  font-size: 18px;
  text-transform: uppercase;

}
.ul{
  flex-direction: column;
}
 .menu-drop li{
  margin-top: 40px;
}
.navBarBtn{
 margin-top: 30px;
}
.form1{
  margin-top: 50px;
  flex-direction: column;
  padding-left: 0;
}
}