*{
 padding: 0;
 margin: 0;
}
.footer{
 background-color: #022B69;
}
.footer1{
 display: flex;
 flex-wrap: wrap;
 border-bottom: 1px solid #1AD5FE;
 justify-content: space-around;
 gap: 20px;
 

}
.footerBlocks{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 margin-top: 26px;
 margin-bottom: 14px;
 
}
.withWhite{
 color: #fff;
 font-family: Gotham Pro;
font-size: 16px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: left

}
.withBlue{
 font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #1AD5FE;
width: 209px;
padding-top: 25px;
}
.socialImages{
 display: flex;
 gap: 10px;
 padding-top: 25px;
}
.footer2 p{
 padding: 20px 14px 20px 28px;
 color: #fff;
 font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;


}
@media screen and (max-width: 800px){
.footer1{
 justify-content: ;
}
.footer2 p{
 padding: 20px 10px 20px 10px;
 font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
width: 90%;
}
.footer1{
 /* flex-direction: column; */
 /* justify-content: center; */
 width: 30%;
 margin-left: auto;
 margin-right: auto;
}
}