*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
/* text-align: left */
}
body{
 font-family: Inter;
}
.section1{
 background-color: #022B69;
 height: 520px;
 display: flex;
 justify-content: space-around;
}
.section1Content{
 /* margin-left: 80px; */
 color: #fff;
 margin-top: 63px;
}
.section1Content h3{
 max-width: 500px;
 font-weight: 50px;
 line-height: 43.57px;
 font-size: 52px;
 text-align: left;
 margin-bottom: 40px;
}
.section1Content p{
 line-height: 19.36px;
 max-width: 320px;
 text-align: left;
 margin-bottom: 47px;
}
.section1Img{
 margin-top: 50px;
}
.section2{
 display: flex;
 justify-content: space-around;
 /* gap: 300px; */
 /* margin-left: 73px; */
 /* margin-right: 180px; */
 color: #3D3D46;
 margin-bottom: 109px;
}
.section2side1{
 max-width: 289px;
}
.section2side1 h2{
 font-family: Inter;
font-size: 50px;
/* 34px */
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 125px;

}
.section2side1 p{
 font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
padding-top: 14px;
}
.learn{
 text-align: left;
}
.section2side2{
 max-width: 398px;
 height: 385px;
 background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 5px;
margin-top: 75px;
}
.sec2{
 border-bottom: 1px solid #B2BED0;
}
.section2side2inline{
 display: flex;
 gap: 15px;
 font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
align-items: center;
padding: 24px 20px 0 35px;
}
.sec2side2p{
 padding-left: 75px;
 text-align: left;
 margin-top: 10px;
 font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 8px;
padding-right: 20px;

}
.section3{
 background-color: #022B69;
 height: 393px;
 /* position:absolute; */
 display: flex;
 justify-content: space-around;
}
.section3image{
 margin-top: 50px;
}
.section3Side2{
 color: #fff;
 margin-top: 73px;
}
.section3Side2 h4{
 font-family: Inter;
 font-size: 33px;
 font-weight: 600;
 line-height: 40px;
 letter-spacing: 0em;
 text-align: center; 
 margin-right: 89px;
 max-width: 375px;
}
.section3Side2 p{
 max-width: 405px;
 font-family: Inter;
 font-size: 16px;
 font-weight: 400;
 line-height: 19px;
 letter-spacing: 0em;
 text-align: center;
 padding-top: 42px;
 padding-bottom: 34px;
}
.section3Side2 a{
 color: #1AD5FE;
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;


}
.section3Side2 p:last-child{
 color: #F8F8FD;
 font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
max-width: 395px;
}
.section4{
 padding-top: 116px;
 display: block;
 justify-content: center;
 /* margin-bottom: 131px; */
 /* background-color: #fff; */
}
.head{
 text-align: center;
 display: block;
 justify-content: center;
 align-items: center;
}
.head h3{
 font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
max-width: 407px;
margin-left: auto;
margin-right: auto;
color: #022B69;
}
.our{
 font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
padding-top: 18px;
text-align: left;
color: #3D3D46;
max-width: 395px;
margin-left: auto;
margin-right: auto;
}

.cardContainer{
 display: flex;
 flex-wrap: wrap;
 width:65% ;
 margin-left: auto;
 margin-right: auto;
 gap: 40px;
 margin-top: 45px;
 margin-bottom: 131px;
}

.section5 {
 background-color: #F4F8FC;
}
.section5 h3{
 max-width: 453px;
 margin-left: auto;
 margin-right: auto;
 color: #022B69;
 font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
padding-top: 54px;

}
.cardContainer2{
 display: flex;
 flex-wrap: wrap;
 gap: 100px;
 width: 70%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 63px;
}
.section6sub1{
 display: flex;
 justify-content: space-around;
}
.designImage{
 margin-top: 114px;
 position: relative;
 max-width: 235.66px;
 height: auto;
}
.Designimage2{
height: 430px;
position: absolute;
right: -160px;
top: 30px;
z-index: -1;
}
.section6sub1Content{
color: #022B69;
margin-top: 181px;
}
.sub1h3{
 font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
text-align: center;
padding-bottom: 0px;
}
.section6sub1Content p{
 font-family: Gotham Pro;
font-size: 16px;
font-weight: 400;
line-height: 15px;
text-align: center;
max-width: 450px;
padding-top: 41px;
padding-bottom: 58px;
/* padding:58px; */
}
.storeImage{
 display: flex;
 gap: 19px;
 width: 60%;
 margin-left: auto;
 margin-right: auto;
}
.section7{
 background-color: #022B69;
 border-bottom: 1px solid #1AD5FE;
 padding-bottom: 144px;
}

.section7 h3{
 padding-top: 54px;
 font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
max-width: 347px;
padding-bottom: 55px;
}
.bottombtn{
  width: 217px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px){
 .section1{
  display: block;
 }
 .section1{
  height: 567px;
 }
 .section1Content{
  margin-top: 10px;
  padding-top: 10px;
 }
 .section1Content h3{
  font-family: Inter;
 font-size: 36px;
 font-weight: 500;
 line-height: 44px;
 text-align: center;
 padding-left: 10px;
 padding-right: 10px;
 margin-bottom: 20px;
 }
 .section1Content p{
  font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
padding-left: 20px;
padding-right: 10px;
margin-bottom: 20px;
 }
 .btys{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }
 .section1Img{
  margin-top: 21px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }
 .tomsImage{
  /* width: auto; */
  height: 340px;
 }
 .section2{
  flex-direction: column;
  margin-top: 66.81px;
  color: #3D3D46;
 }
 /* .section2side1{
  max-width: 320px;
 } */
 .section2side1 h2{
  margin-top: 10px;
  font-family: Inter;
font-size: 26px;
font-weight: 600;
line-height: 31px;
padding: 10px 15px 0 43px;
 }
 .section2side1 p{
  font-family: Inter;
 font-size: 14px;
 font-weight: 400;
 line-height: 17px;
 letter-spacing: 0em;
 text-align: left;
 padding: 21px 15px 0 43px;
 }
 .learnMore{
 padding: 21px 0 0 43px;

 }
 .section3{
  flex-direction: column;
  height: 630px;
 }
 .section3image{
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
 }
 .padlock{
  width: 250px;
 }
 .section3Side2{
  margin-top: 0px;
 }
 .section3Side2 h4{
  padding-top: 34px;
  margin-right: 0;
  font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

 }
 .section3Side2 p{
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
padding: 0 27px 38px 19px;
 }
 .le{
  text-align: center;
  margin-bottom: 18px;
 }
 .section4{
  padding-top: 80px;
 }
 .head h3{
font-size: 24px;
font-weight: 600;
line-height: 29px;

 }
 .our{
  font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: center;
width: 250px;
 }
 .cardContainer{
  /* flex-direction: column; */
  width: 80%;
  gap: 97px;
 }
 .section5 h3{
  text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 29px;
padding-top: 65px;
 }
 .cardContainer2{
  flex-direction: column;
  gap: 41px;
  width: 95%;
 }
 .section6sub1{
  flex-direction: column;
 }
 .designImage{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
 }
 
 .Designimage1 {
  height: 318px;
  width: 159.1104278564453px;
  
 }
 .Designimage2{
  height: 243.73248291015625px;
  width: 121.95088195800781px;
  right: -7px;
 }
 .section6sub1Content{
  margin-top: 90.51px;
 }
 .sub1h3{
font-size: 24px;
line-height: 29px;
 }
 .section6sub1Content p{
font-size: 14px;
font-weight: 400;
line-height: 13px;
text-align: center;
padding-right: 44px;
padding-top: 33px;

 }
 .storeImage{
  flex-direction: column;
  width: 50%;
  gap: 40px;
 }

 .section7 h3{
  padding: 39px 53px 33px 60px;

 }

}