*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
/* text-align: left */
}
body{
 font-family: ;
}
.section1{
 background-color: #022B69;
 height: 520px;
 display: flex;
 justify-content: space-between;
}
.section1Content{
 margin-left: 73px;
 color: #fff;
 margin-top: 63px;
}
.section1Content h3{
 width: 500px;
 font-weight: 500px;
 line-height: 43.57px;
 font-size: 52px;
 text-align: left;
 margin-bottom: 40px;
}
.section1Content p{
 line-height: 19.36px;
 width: 300px;
 text-align: left;
 margin-bottom: 47px;
}
.section1Img{
 margin-top: 50px;
}
.section2{
 display: flex;
 justify-content: space-between;
 margin-left: 73px;
 margin-right: 180px;
 color: #3D3D46;
 margin-bottom: 109px;
}
.section2side1{
 width: 289px;
}
.section2side1 h2{
 font-family: Inter;
font-size: 50px;
/* 34px */
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 125px;

}
.section2side1 p{
 font-family: Inter;
font-size: 16px;
/* 16px */
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
padding-top: 14px;
}
.learn{
 text-align: left;
}
.section2side2{
 width: 398px;
 height: 385px;
 background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 5px;
margin-top: 75px;
}
.sec2{
 border-bottom: 1px solid #B2BED0;
}
.section2side2inline{
 display: flex;
 gap: 15px;
 font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
align-items: center;
padding: 24px 20px 0 35px;
}
.sec2side2p{
 padding-left: 75px;
 text-align: left;
 margin-top: 10px;
 font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 8px;
padding-right: 20px;

}
.section3{
 background-color: #022B69;
 height: 393px;
 
 display: flex;
 justify-content: space-between;
}
.section3image{
 margin-top: 50px;
 margin-left: 52px;
 
}
.section3Side2{
 margin-right: 89px;
 color: #fff;
 margin-top: 73px;
}
.section3Side2 h4{
 font-family: Inter;
 font-size: 33px;
 font-weight: 600;
 line-height: 40px;
 letter-spacing: 0em;
 text-align: center; 
 margin-right: 89px;
 width: 375px;
}
.section3Side2 p{
 max-width: 405px;
 font-family: Inter;
 font-size: 16px;
 font-weight: 400;
 line-height: 19px;
 letter-spacing: 0em;
 text-align: center;
 padding-top: 42px;
 padding-bottom: 34px;
}
.section3Side2 a{
 color: #1AD5FE;
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;


}
.section3Side2 p:last-child{
 color: #F8F8FD;
 font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
max-width: 395px;
}
.section4{
 padding-top: 116px;
 display: block;
 justify-content: center;
 margin-bottom: 131px;
}
.head{
 text-align: center;
 display: block;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.head h3{
 font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
max-width: 407px;
margin-left: auto;
margin-right: auto;
/* text-align: left; */
color: #022B69;
}
.our{
 font-family: Gotham Pro;
font-size: 14px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
padding-top: 18px;
text-align: left;
color: #3D3D46;
max-width: 395px;
margin-left: auto;
margin-right: auto;
}

.cardContainer{
 display: flex;
 width:65% ;
 margin-left: auto;
 margin-right: auto;
 gap: 40px;
 margin-top: 45px;
}

.section5 {
 background-color: #F4F8FC;
}
.section5 h3{
 max-width: 453px;
 margin-left: auto;
 margin-right: auto;
 color: #022B69;
 font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
padding-top: 54px;

}
.cardContainer2{
 display: flex;
 /* margin-left: 75px;
 margin-right: 63px; */
 gap: 100px;
 width: 70%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 63px;
}