*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 background-color: #F4F8FC;
}
.containerSign{
 display: flex;
 margin-top: 158px;
 justify-content: space-around;
 margin-bottom: 284px;
}
.contentSign h3{
 padding-top: 150px;
 font-family: Gotham Pro;
font-size: 48px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
color: #022B69;
}
.contentSign h4{
 color: #B2BED0;
 padding-top: 31px;
 font-family: Gotham Pro;
font-size: 48px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;
text-align: left;
}
.formSign{
 height: 810px;
max-width: 691px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 20px 20px 20px 0px;
background: #FFFFFF;
}
.formSign h3{
 font-family: Gotham Pro;
font-size: 30px;
font-weight: 700;
line-height: 29px;
max-width: 335px;
margin-left: auto;
margin-right: auto;
padding-top: 54px;
}
.forminputSS{
 margin: 56px 63px 0px 64px;
}
.label1{
 color: #B2BED0;
 font-family: Gotham Pro;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}
.names{
 display: flex;
 gap: 38px;
}
.inputS{
 height: 67px;
width: 240px;
border-radius: 10px;
background: #F4F8FC;
border-radius: 10px;
margin-top: 11px;
border: none;
outline: none;
padding-left: 15px;
color: black;
}
.inputS::placeholder{
 font-family: Gotham Pro;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}
.formInput2{
 margin: 26px 63px 0px 64px;
}
.label2{
 color: #B2BED0;
 font-family: Gotham Pro;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}
.input2{
 width: 518px;
background: #F4F8FC;
border-radius: 10px;
margin-top: 11px;
border: none;
outline: none;
padding-left: 15px;
color: black;
height: 67px;
}
.input2::placeholder{
 font-family: Gotham Pro;
font-size: 18px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}
.oldUser{
 margin: 33px 105px 0px 0px;
 text-align: right;
 font-family: Gotham Pro;
font-size: 18px;
font-weight: 400;
line-height: 17px;
}
.logS{
 margin-top: 38px;
 max-width: 228px;
 margin-left: auto;
 margin-right: auto;
}
.formSign p{
  color: red;
  font-size: 8px;
}
/* .btn{
  height: 67px;
 width: 228px;
 background: #022B69;
 border-radius: 10px 10px 10px 0px;
 color: #FFFFFF;
 font-family: Gotham Pro;
 font-size: 24px;
 font-weight: 700;
 line-height: 23px;
 border: none;
 } */
 
 @media screen and (max-width: 800px){
.containerSign{
  margin-top: 30px;
  margin-bottom: 80px;
  flex-direction: column;
}
.contentSign h3{
  padding-top: 20px;
  font-family: Gotham Pro;
font-size: 32px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center
}
.contentSign p{
  padding-top: 19px;
font-family: Gotham Pro;
font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: center;
padding-bottom: 15px;
}
.formSign{
  display: flex;
  justify-content: center;
  width: 320px;
}
.formSign h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  padding-top: 36px; 
}
.forminputSS{
  margin: 30px 15px 0px 45px;
}
  .names{
    /* flex-direction: column; */
  }
  .input2{
    width: 250px;
  }
  .formInput2{
  margin: 18px 15px 0px 45px;
  }
  .oldUser{
    text-align: left;
    font-size: 14px;
 margin: 11px 0px 0px 45px;

  }
  .logS{
margin-top: 18px;
  }
}